.profile__job {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    align-self: center;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap; 
}
@media (min-width: 320px) and (max-width: 900px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}