.header {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgb(84,84,84,0.7);
    padding-bottom: 41px;
}
@media (min-width: 320px) and (max-width: 600px) {
    .header {
        margin: 28px 0 42px;
        padding-bottom: 31.6px;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .header {
        max-width: 600px;
    }
}