.element__delete {
    width: 18px;
    height: 19px;
    align-self: center;
    background-image: url(../../../images/Group.svg);
    border: none;
    position: absolute;
    background-repeat: no-repeat;
    background-color: transparent;
    top: 20px;
    right: 20px;
}
.element__delete:hover {
    opacity: .6;
}