.profile__info {
    margin: 22px 0 25px 25px;
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: flex-end;
    column-gap: 18px;
    row-gap: 16px;
    grid-template-rows: 39px 18px;
}
@media (min-width: 320px) and (max-width: 900px) {
    .profile__info {
        margin: 0 19px 36px 46px;
        grid-template-columns: 1fr 18px;
        column-gap: 10px;
        align-self: center;
        row-gap: 14px;
        grid-template-columns: 1fr 18px;
        grid-template-rows: 26px 14px;
    }
}