.element {
    max-width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 282px 79px;
    align-items: center;
}
@media (min-width: 320px) and (max-width: 600px) {
    .element {
        margin: 0 auto;
    }
}